:root {
    --bgcolor: #a078df;
}

* {
    box-sizing: border-box;
}

header {
    padding: 30px;
    background-color: var(--bgcolor);
    color: #ffffff;
}

header h1 {
    text-align: center;
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #651186;
}

nav a {
    color: #f5f5f5;
    padding: 15px 50px;
    text-decoration: none;
    text-align: center;
}

h2 {
    padding-bottom: 15px;
    font-size: 45px;
    line-height: 50px;
    border-bottom: 3px solid rgb(0, 0, 0);
    text-align: center;
}

.profile-photo {
    width: 30%;
    float: right;
    padding: 5px
}

#about-me {
    margin-bottom: 20px;
    padding: 30px;
    background-color: var(--bgcolor);
    color: #ffffff;
}

.content {
    width: 50%;
}

p {
    padding: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

h3 {
    text-align: center;
}

.work {
    float: left;
    width: 100%;
    padding: 30px;
    margin: 0 0 40px;
    background: var(--bgcolor);
    border: 1px solid #ddd;
    overflow: auto;
}

.projects img {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
}

.projects {
    position: relative;
    float: left;
    overflow: auto;
}