:root {
    --bgcolor: #a078df;
}

* {
    box-sizing: border-box;
}

header {
    padding: 30px;
    background-color: var(--bgcolor);
    color: #ffffff;
}

header h1 {
    text-align: center;
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #651186;
}

nav a {
    color: #f5f5f5;
    padding: 15px 50px;
    text-decoration: none;
    text-align: center;
}

h2 {
    padding-bottom: 15px;
    font-size: 45px;
    line-height: 50px;
    border-bottom: 3px solid rgb(0, 0, 0);
    text-align: center;
}

.profile-photo {
    width: 30%;
    float: right;
    padding: 5px
}

#about-me {
    margin-bottom: 20px;
    padding: 30px;
    background-color: var(--bgcolor);
    color: #ffffff;
}

.content {
    width: 50%;
    display: inline-block;
}

p {
    padding: 10px;
}

.project-image {
    width: 300px;
    height: 200px;
}